
@media screen and (min-width: 0px) and (max-width: 320px) { 
  .headingtemp{
    font-size: 15px!important;
    margin-top: 10px!important;
    font-weight: bold;
  }
  .fa-plus{
       font-size: 30px!important;
      margin-left: 35px;
      margin-top: 5px;
  }
  .logotext{
    font-size: 12px!important;
    width: 200px!important;
  }
  .logoimage{
    min-height:50px!important;
    max-height:50px!important;
    width:auto!important;
  }
  .legalassistance{
    width: auto!important;
    /* background-color:red!important; */
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .textarea{
    color: #3e5b77; 
    background-color: #FFFFFF;
     padding: 5px;
     width: 235px!important;
     border: none;
  }
  .field1{
    height: 30px!important;
    font-size: 12px!important;
  }
  .field2{
    height: 120px!important;
    font-size: 10px!important;
  }
  .field3{
    height: 120px!important;
    font-size: 10px!important;
  }
  .field4{
    height: 80px!important;
    font-size: 12px!important;
  }
  .field5{
    height: 180px!important;
    font-size: 10px!important;
  }
  .field6{
    height: 120px!important;
    font-size: 10px!important;
  }
  .anchorbutton{
    background-color: #C69F6F !important;
    color: #FFFFFF !important;
    font-weight: bold !important;
    border-radius: 20px!important;
    width: 200px!important;
    font-size: 8px!important;
  }
  .singleLine{
    height: 25px!important;
    font-size: 10px!important;
  }
  .linehr{
    width: 200px!important;
  }
  .lastcontainer{
    width: 235px!important;
    font-size: 8px!important;
    height: 30px!important  ;
  }
  .lastparagraph{
    font-size: 8px!important;
    line-height: 1px!important;
  }
}
@media screen and (min-width: 321px) and (max-width: 375px) { 
  .headingtemp{
    font-size: 15px!important;
    margin-top: 10px!important;
    font-weight: bold;
  }
  .fa-plus{
    font-size: 30px!important;
   margin-left: 35px;
   margin-top: 5px;
}
.logotext{
 font-size: 12px!important;
 width: 200px!important;
}
.logoimage{
  min-height:50px!important;
  max-height:50px!important;
  width:auto!important;
}
.legalassistance{
  width: auto!important;
  /* background-color:red!important; */
  padding-bottom: 10px;
  padding-top: 10px;
}
.textarea{
  color: #3e5b77; 
  background-color: #FFFFFF;
   padding: 5px;
   width: 235px!important;
   border: none;
}
.field1{
  height: 30px!important;
  font-size: 12px!important;
}
.field2{
  height: 120px!important;
  font-size: 10px!important;
}
.field3{
  height: 120px!important;
  font-size: 10px!important;
}
.field4{
  height: 80px!important;
  font-size: 10px!important;
}
.field5{
  height: 180px!important;
  font-size: 10px!important;
}
.field6{
  height: 120px!important;
  font-size: 10px!important;
}
.anchorbutton{
  background-color: #C69F6F !important;
  color: #FFFFFF !important;
  font-weight: bold !important;
  border-radius: 20px!important;
  width: 200px!important;
  font-size: 8px!important;
}
.singleLine{
  height: 23px!important;
  font-size: 10px!important;
}
.linehr{
  width: 250px!important;
}
.lastcontainer{
  width: 235px!important;
  font-size: 8px!important;
  height: 30px!important  ;
}
.lastparagraph{
  font-size: 8px!important;
  line-height: 1px!important;
}

}

@media screen and (min-width: 376px) and (max-width: 425px) { 
  .headingtemp{
    font-size: 15px!important;
    margin-top: 10px!important;
    font-weight: bold;
  }
  .fa-plus{
    font-size: 35px!important;
   margin-left: 35px;
   margin-top: 5px;
}
.logotext{
 font-size: 15px!important;
 width: 200px!important;
}
.logoimage{
  min-height:60px!important;
  max-height:60px!important;
  width:auto!important;
}
.legalassistance{
  width: auto!important;
  /* background-color:red!important; */
  padding-bottom: 10px;
  padding-top: 10px;
}
.textarea{
  color: #3e5b77; 
  background-color: #FFFFFF;
   padding: 5px;
   width: 285px;
   border: none;
}
.field1{
  height: 30px!important;
  font-size: 12px!important;
}
.field2{
  height: 100px!important;
  font-size: 10px!important;
}
.field3{
  height: 100px!important;
  font-size: 10px!important;
}
.field4{
  height: 80px!important;
  font-size: 12px!important;
}
.field5{
  height: 150px!important;
  font-size: 10px!important;
}
.field6{
  height: 100px!important;
  font-size: 10px!important;
}
.anchorbutton{
  background-color: #C69F6F !important;
  color: #FFFFFF !important;
  font-weight: bold !important;
  border-radius: 20px!important;
  width: 230px!important;
  font-size: 10px!important;
}
.singleLine{
  height: 25px!important;
  font-size: 10px!important;
}
.linehr{
  width: 300px!important;
}
.lastcontainer{
  width: 235px!important;
  font-size: 8px!important;
  height: 30px!important  ;
}
.lastparagraph{
  font-size: 8px!important;
  line-height: 1px!important;
}


}


@media screen and (min-width: 426px) and (max-width: 480px) { 
  .headingtemp{
    font-size: 15px!important;
    margin-top: 10px!important;
    font-weight: bold;
  }
  .fa-plus{
    font-size: 35px!important;
   margin-left: 40px;
   margin-top: 5px;
}
.logotext{
 font-size: 17px!important;
 width: 200px!important;
}
.logoimage{
  min-height:80px!important;
  max-height:80px!important;
  width:auto!important;
}
.legalassistance{
  width: 360px!important;
  /* background-color:red!important; */
  padding-bottom: 10px;
  padding-top: 10px;
}
.textarea{
  color: #3e5b77; 
  background-color: #FFFFFF;
   padding: 5px;
   width: 330px!important;
   border: none;
}
.field1{
  height: 30px!important;
  font-size: 13px!important;
}
.field2{
  height: 100px!important;
  font-size: 11px!important;
}
.field3{
  height: 100px!important;
  font-size: 11px!important;
}
.field4{
  height: 80px!important;
  font-size: 11px!important;
}
.field5{
  height: 150px!important;
  font-size: 11px!important;
}
.field6{
  height: 100px!important;
  font-size: 11px!important;
}
.anchorbutton{
  background-color: #C69F6F !important;
  color: #FFFFFF !important;
  font-weight: bold !important;
  border-radius: 20px!important;
  width: 230px!important;
  font-size: 10px!important;
}
.singleLine{
  height: 25px!important;
  font-size: 11px!important;
}
.linehr{
  width: 370px!important;
}
.lastcontainer{
  width: 275px!important;
  font-size: 10px!important;
  height: 30px!important  ;
}
.lastparagraph{
  font-size: 10px!important;
  line-height: 1px!important;
}

}

@media screen and (min-width: 481px) and (max-width: 575px) { 
  .headingtemp{
    font-size: 16px!important;
    margin-top: 10px!important;
    font-weight: bold;
  }
  .fa-plus{
    font-size: 35px!important;
   margin-left: 40px;
   margin-top: 5px;
}
.logotext{
 font-size: 17px!important;
 width: 200px!important;
}
.logoimage{
  min-height:80px!important;
  max-height:80px!important;
  width:auto!important;
}
.legalassistance{
  width: 400px!important;
  /* background-color:red!important; */
  padding-bottom: 10px;
  padding-top: 10px;
}
.textarea{
  color: #3e5b77; 
  background-color: #FFFFFF;
   padding: 5px;
   width: 370px!important;
   border: none;
   font-size: 11px!important;
}
.field1{
  height: 30px!important;
  font-size: 13px!important;
}
.field2{
  height: 100px!important;
  font-size: 11px!important;
}
.field3{
  height: 100px!important;
  font-size: 11px!important;
}
.field4{
  height: 80px!important;
  font-size: 13px!important;
}
.field5{
  height: 150px!important;
  font-size: 11px!important;
}
.field6{
  height: 100px!important;
  font-size: 11px!important;
}
.anchorbutton{
  background-color: #C69F6F !important;
  color: #FFFFFF !important;
  font-weight: bold !important;
  border-radius: 20px!important;
  width: 230px!important;
  font-size: 10px!important;
}
.singleLine{
  height: 25px!important;
  font-size: 11px!important;
}
.linehr{
  width: 400px!important;
}
.lastcontainer{
  width: 285px!important;
  font-size: 10px!important;
  height: 30px!important  ;
}
.lastparagraph{
  font-size: 10px!important;
  line-height: 1px!important;
}

}


@media screen and (min-width: 576px) and (max-width: 700px) {
  .headingtemp{
    font-size: 17px!important;
    margin-top: 10px!important;
    font-weight: bold;
  }
  .fa-plus{
    font-size: 35px!important;
   margin-left: 40px;
   margin-top: 5px;
}
.logotext{
 font-size: 17px!important;
 width: 200px!important;
}
.logoimage{
  min-height:100px!important;
  max-height:100px!important;
  width:auto!important;
}
.legalassistance{
  width: 515px!important;
  /* background-color:red!important; */
  padding-bottom: 10px;
  padding-top: 10px;
}
.textarea{
  color: #3e5b77; 
  background-color: #FFFFFF;
   padding: 5px;
   width: 488px!important;
   border: none;
   font-size: 13px!important;
}
.field1{
  height: 30px!important;
  font-size: 14px!important;
}
.field2{
  height: 100px!important;
  font-size: 12px!important;
}
.field3{
  height: 100px!important;
  font-size: 12px!important;
}
.field4{
  height: 80px!important;
  font-size: 14px!important;
}
.field5{
  height: 150px!important;
  font-size: 12px!important;
}
.field6{
  height: 100px!important;
  font-size: 12px!important;
}
.anchorbutton{
  background-color: #C69F6F !important;
  color: #FFFFFF !important;
  font-weight: bold !important;
  border-radius: 20px!important;
  width: 230px!important;
  font-size: 10px!important;
}
.singleLine{
  height: 30px!important;
  font-size: 12px!important;
}
.linehr{
  width: 400px!important;
}
.lastcontainer{
  width: 350px!important;
  font-size: 12px!important;
  height: 30px!important  ;
}
.lastparagraph{
  font-size: 12px!important;
  line-height: 1px!important;
}
}
@media screen and (min-width: 701px) and (max-width: 800px) {
  .headingtemp{
    font-size: 17px!important;
    margin-top: 10px!important;
    font-weight: bold;
  }
  .fa-plus{
    font-size: 40px!important;
   margin-left: 40px;
   margin-top: 5px;
}
.logotext{
 font-size: 17px!important;
 width: 200px!important;
 margin-left: 10px!important;
}
.logoimage{
  min-height:120px!important;
  max-height:120px!important;
  width:auto!important;
}
.legalassistance{
  width: 515px!important;
  /* background-color:red!important; */
  padding-bottom: 10px;
  padding-top: 10px;
}
.textarea{
  color: #3e5b77; 
  background-color: #FFFFFF;
   padding: 5px;
   width: 488px!important;
   border: none;
   font-size: 13px!important;
}
.field1{
  height: 30px!important;
  font-size: 14px!important;
}
.field2{
  height: 100px!important;
  font-size: 12px!important;
}
.field3{
  height: 100px!important;
  font-size: 12px!important;
}
.field4{
  height: 80px!important;
  font-size: 14px!important;
}
.field5{
  height: 150px!important;
  font-size: 12px!important;
}
.field6{
  height: 100px!important;
  font-size: 12px!important;
}
.anchorbutton{
  background-color: #C69F6F !important;
  color: #FFFFFF !important;
  font-weight: bold !important;
  border-radius: 20px!important;
  width: 230px!important;
  font-size: 10px!important;
}
.singleLine{
  height: 25px!important;
  font-size: 12px!important;
}
.linehr{
  width: 450px!important;
}
.lastcontainer{
  width: 370px!important;
  font-size: 12px!important;
  height: 30px!important  ;
}
.lastparagraph{
  font-size: 12px!important;
  line-height: 1px!important;
}
}


@media screen and (min-width: 801px) and (max-width: 832px) {
  .headingtemp{
    font-size: 17px!important;
    margin-top: 10px!important;
    font-weight: bold;
  }
  .fa-plus{
    font-size: 40px!important;
   margin-left: 40px;
   margin-top: 5px;
}
.logotext{
 font-size: 17px!important;
 width: 200px!important;
 margin-left: 10px!important;
}
.logoimage{
  min-height:130px!important;
  max-height:130px!important;
  width:auto!important;
}
.legalassistance{
  width: 515px!important;
  /* background-color:red!important; */
  padding-bottom: 10px;
  padding-top: 10px;
}
.textarea{
  color: #3e5b77; 
  background-color: #FFFFFF;
   padding: 5px;
   width: 490px!important;
   border: none;
   font-size: 13px!important;
}
.field1{
  height: 30px!important;
  font-size:14px!important ;
}
.field2{
  height: 100px!important;
  font-size:12px!important ;
}
.field3{
  height: 100px!important;
  font-size:12px!important ;
}
.field4{
  height: 80px!important;
  font-size:14px!important ;
}
.field5{
  height: 150px!important;
  font-size:12px!important ;
}
.field6{
  height: 100px!important;
  font-size:12px!important ;
}
.anchorbutton{
  background-color: #C69F6F !important;
  color: #FFFFFF !important;
  font-weight: bold !important;
  border-radius: 20px!important;
  width: 230px!important;
  font-size: 10px!important;
}
.singleLine{
  height: 25px!important;
  font-size: 12px!important;
}
.linehr{
  width: 580px!important;
}
.lastcontainer{
  width: 375px!important;
  font-size: 12px!important;
  height: 30px!important  ;
}
.lastparagraph{
  font-size: 12px!important;
  line-height: 1px!important;
}
}


@media screen and (min-width: 833px) and (max-width: 1920px) {
  .headingtemp{
    font-size: 22px!important;
    margin-top: 6px!important;
    font-weight: bold;
  }
  .fa-plus{
    font-size: 50px!important;
   margin-left: 50px;
   margin-top: 5px;
}
.logotext{
 font-size: 17px!important;
 width: 300px!important;
 position: relative;
 left: 3px!important;
}
.logoimage{
  min-height:150px!important;
  max-height:150px!important;
  width:auto!important;
}
.legalassistance{
  width: 630px!important;
  /* background-color:red!important; */
  padding-bottom: 10px;
  padding-top: 10px;
}
.textarea{
  color: #3e5b77; 
  background-color: #FFFFFF;
   padding: 5px;
   width: 600px!important;
   border: none;
   font-size: 14px!important;
}
.field1{
  height: 30px!important;
  font-size: 14px!important;
}
.field2{
  height: 80px!important;
  font-size: 13px!important;
}
.field3{
  height: 80px!important;
  font-size: 13px!important;
}
.field4{
  height: 60px!important;
  font-size: 14px!important;
}
.field5{
  height: 120px!important;
  font-size: 13px!important;
}
.field6{
  height: 80px!important;
  font-size: 13px!important;
}
.anchorbutton{
  background-color: #C69F6F !important;
  color: #FFFFFF !important;
  font-weight: bold !important;
  border-radius: 20px!important;
  width: 350px!important;
  font-size: 15px!important;
}
.singleLine{
  height: 30px!important;
  font-size: 13px!important;
}
.linehr{
  width: 670px!important;
}
.lastcontainer{
  width: 600px!important;
  font-size: 12px!important;
  height: 30px!important  ;
}
.lastparagraph{
  font-size: 12px!important;
  line-height: 1px!important;
}
} 












.templateHeader {
    /* background-color: #eeeeee;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top: 0;
    border-bottom: 0;
    padding-top: 12px;
    padding-bottom: 12px; */
    background-color:#FFFFFF;
    padding-top: 10px;
   
  }


.anchorbutton{
  background-color: #C69F6F !important;
  color: #FFFFFF !important;
  font-weight: bold !important;
  border-radius: 20px!important;
}

  .glyphicon {
    font-size: 50px;
    padding: 8px;
    color: #3e5b77;
   }
   
  
  .legalassistance {
    background-color:#FFFFFF;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 650px;
    margin: auto;
  }
  /* .anchorbutton {
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 100%;
    text-align: center;
    text-decoration: none;
    background-color: #C69F6F;
    text-align: center;
    font-family: "Roboto";
    border-radius: 10px;
    color: #FFFFFF;
  } */
  
  /* .headinginput:{
    height: 80px;
  } */
  /* input{
    color: '#3e5b77';
    font-size: 18px;
    border: none;
    padding-left: '15px'
  } */
  
  
  /* .templateHeader {
      background-color: #eeeeee;
      background-image: none;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-top: 0;
      border-bottom: 0;
      padding-top: 12px;
      padding-bottom: 12px;
  }
  
  .legalassistance {
    background-color:#eeeeee;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 650px;
   margin: auto;
  }
  .anchorbutton {
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 100%;
    text-align: center;
    text-decoration: none;
    background-color: #ff751a;
    text-align: center;
    border-radius: 10px;
    color: #FFFFFF;
  }
  
   */
  .templateList{
    display:flex;
    border: 1px solid #919191;
    padding-left:10px;
    padding-top:10px;
    margin-top:10px;
    background-color: #FFFFFF;
  }
  .templateListClick{
    display:flex;
    border: 1px solid red;
    padding-left:10px;
    padding-top:10px;
    margin-top:10px;
  }
 